
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

// Bootstrap

@import '~jquery-ui/themes/base/all.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';	


@import '~datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css' ;
@import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' ;
@import '~datatables.net-colreorder-bs4/css/colreorder.bootstrap4.min.css' ;
@import '~datatables.net-fixedcolumns-bs4/css/fixedcolumns.bootstrap4.min.css' ;
@import '~datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css' ;
@import '~datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css' ;
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' ;
@import '~datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css' ;
@import '~datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css' ;
@import '~datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css' ;
@import '~datatables.net-select-bs4/css/select.bootstrap4.min.css' ;
@import '~datatables.net-editor-bs4/css/editor.bootstrap4.min.css' ;
@import 'variables';
@import "style";




.myAlert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}

.alert{
    display: none;
}
	
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
